<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw34S5VyI-UZ_afc7b7pKGA_vPtvSlj97CuGSYODxzzRDZAJV79g">

<!-- <li><a href="/register">Sign Up!</a></li> -->
<!-- <li><a href="/login">Login!</a></li> -->
<li><a href="/logout">Logout!</a></li>
